In [1]:
#pip install pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SecondAPP').getOrCreate()

In [3]:
employees = spark.read.csv('/content/employees - Sheet1.csv', header = True)

In [4]:
employees.show()

+---+----------+----------+-----+------+----------+
| id|      name|department|basic|salary|experience|
+---+----------+----------+-----+------+----------+
|  1|    Aakash|        IT| 7169| 64521|         9|
|  2|  Abhijeet|        HR|10554|147756|        14|
|  3|      Aman|     Admin| 7982| 23946|         3|
|  4|    Aditya|     Admin| 6541| 71951|        11|
|  5| Chaitanya|        HR|19167|210837|        11|
|  6|    Ganesh|        IT| 7507| 30028|         4|
|  7|Dharmendra|     Sales|16048|144432|         9|
|  8|    Govind|     Sales| 6257| 18771|         3|
|  9| Annupriya| Marketing|19113|267582|        14|
| 10|   Pallavi|   Finance|16314|179454|        11|
+---+----------+----------+-----+------+----------+

# Filter

## display the records having salary more than 1000000

In [5]:
employees.filter("salary > 100000").show()

+---+----------+----------+-----+------+----------+
| id|      name|department|basic|salary|experience|
+---+----------+----------+-----+------+----------+
|  2|  Abhijeet|        HR|10554|147756|        14|
|  5| Chaitanya|        HR|19167|210837|        11|
|  7|Dharmendra|     Sales|16048|144432|         9|
|  9| Annupriya| Marketing|19113|267582|        14|
| 10|   Pallavi|   Finance|16314|179454|        11|
+---+----------+----------+-----+------+----------+

In [6]:
employees.filter("salary > 100000").select(['name','department']).show()

+----------+----------+
|      name|department|
+----------+----------+
|  Abhijeet|        HR|
| Chaitanya|        HR|
|Dharmendra|     Sales|
| Annupriya| Marketing|
|   Pallavi|   Finance|
+----------+----------+

In [7]:
# employees.filter(("salary > 100000") and ("salary < 150000")).show()

In [8]:
employees.filter((employees['salary']>100000) & (employees['salary']<150000)).show()

+---+----------+----------+-----+------+----------+
| id|      name|department|basic|salary|experience|
+---+----------+----------+-----+------+----------+
|  2|  Abhijeet|        HR|10554|147756|        14|
|  7|Dharmendra|     Sales|16048|144432|         9|
+---+----------+----------+-----+------+----------+

In [9]:
employees.filter(~(employees['salary']>100000)).show()

+---+------+----------+-----+------+----------+
| id|  name|department|basic|salary|experience|
+---+------+----------+-----+------+----------+
|  1|Aakash|        IT| 7169| 64521|         9|
|  3|  Aman|     Admin| 7982| 23946|         3|
|  4|Aditya|     Admin| 6541| 71951|        11|
|  6|Ganesh|        IT| 7507| 30028|         4|
|  8|Govind|     Sales| 6257| 18771|         3|
+---+------+----------+-----+------+----------+

In [10]:
employees = employees.withColumn('salary',employees['salary'].astype('float'))

In [11]:
employees.groupby('department').sum('salary').show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|   163203.0|
|        HR|   358593.0|
|   Finance|   179454.0|
|     Admin|    95897.0|
| Marketing|   267582.0|
|        IT|    94549.0|
+----------+-----------+

In [12]:
employees.agg({'salary' : 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|  1159278.0|
+-----------+

In [13]:
from sklearn import datasets

In [14]:
data = datasets.load_iris()

In [15]:
type(data)

sklearn.utils.Bunch

In [16]:
data.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [17]:
import pandas as pd

In [18]:
pd_df = pd.DataFrame(data.data)

In [19]:
pd_df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [20]:
pd_df.columns

RangeIndex(start=0, stop=4, step=1)

In [21]:
pd_df.columns = ['sl','sw','pl','pw']

In [22]:
pd_df

      sl   sw   pl   pw
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [23]:
ss_df = spark.createDataFrame(pd_df)

In [24]:
ss_df.show()

+---+---+---+---+
| sl| sw| pl| pw|
+---+---+---+---+
|5.1|3.5|1.4|0.2|
|4.9|3.0|1.4|0.2|
|4.7|3.2|1.3|0.2|
|4.6|3.1|1.5|0.2|
|5.0|3.6|1.4|0.2|
|5.4|3.9|1.7|0.4|
|4.6|3.4|1.4|0.3|
|5.0|3.4|1.5|0.2|
|4.4|2.9|1.4|0.2|
|4.9|3.1|1.5|0.1|
|5.4|3.7|1.5|0.2|
|4.8|3.4|1.6|0.2|
|4.8|3.0|1.4|0.1|
|4.3|3.0|1.1|0.1|
|5.8|4.0|1.2|0.2|
|5.7|4.4|1.5|0.4|
|5.4|3.9|1.3|0.4|
|5.1|3.5|1.4|0.3|
|5.7|3.8|1.7|0.3|
|5.1|3.8|1.5|0.3|
+---+---+---+---+
only showing top 20 rows

In [25]:
ss_df.printSchema()

root
 |-- sl: double (nullable = true)
 |-- sw: double (nullable = true)
 |-- pl: double (nullable = true)
 |-- pw: double (nullable = true)

In [26]:
from pyspark.sql.functions import pandas_udf

def add_one(series: pd.Series) -> pd.Series:
  return series + 1

In [27]:
ss_df.select(add_one(ss_df.sl),ss_df.sl).show()

+--------+---+
|(sl + 1)| sl|
+--------+---+
|     6.1|5.1|
|     5.9|4.9|
|     5.7|4.7|
|     5.6|4.6|
|     6.0|5.0|
|     6.4|5.4|
|     5.6|4.6|
|     6.0|5.0|
|     5.4|4.4|
|     5.9|4.9|
|     6.4|5.4|
|     5.8|4.8|
|     5.8|4.8|
|     5.3|4.3|
|     6.8|5.8|
|     6.7|5.7|
|     6.4|5.4|
|     6.1|5.1|
|     6.7|5.7|
|     6.1|5.1|
+--------+---+
only showing top 20 rows

In [28]:
def filter_rec(iterator):
  for rec in iterator:
    yield rec[rec.sl>=5.0]

In [29]:
ss_df.mapInPandas(filter_rec,schema=ss_df.schema).show()

+---+---+---+---+
| sl| sw| pl| pw|
+---+---+---+---+
|5.1|3.5|1.4|0.2|
|5.0|3.6|1.4|0.2|
|5.4|3.9|1.7|0.4|
|5.0|3.4|1.5|0.2|
|5.4|3.7|1.5|0.2|
|5.8|4.0|1.2|0.2|
|5.7|4.4|1.5|0.4|
|5.4|3.9|1.3|0.4|
|5.1|3.5|1.4|0.3|
|5.7|3.8|1.7|0.3|
|5.1|3.8|1.5|0.3|
|5.4|3.4|1.7|0.2|
|5.1|3.7|1.5|0.4|
|5.1|3.3|1.7|0.5|
|5.0|3.0|1.6|0.2|
|5.0|3.4|1.6|0.4|
|5.2|3.5|1.5|0.2|
|5.2|3.4|1.4|0.2|
|5.4|3.4|1.5|0.4|
|5.2|4.1|1.5|0.1|
+---+---+---+---+
only showing top 20 rows